.cart {
  position: absolute;
  width: 268px;
  top: 3rem;
  right: 0rem;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 0 10px 0 var(--grayish-blue);
  z-index: 80;
}

.cart__title {
  border-bottom: 1px solid var(--grayish-blue);
}
.cart__title h3 {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.cart__content {
  margin: 1rem;
}

.cart__content h3 {
  padding: 2rem 3.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.cart__item {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 35px 1fr 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "thumb title trash" "thumb price trash";
  align-items: center;
  column-gap: 10px;
  row-gap: 3px;
}

.cart__item__thumb {
  grid-area: thumb;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  justify-self: center;
}

.cart__item p {
  font-size: 0.9rem;
}

.cart__item p,
.cart__item svg {
  color: var(--dark-grayish-blue);
}
.cart__item svg {
  font-size: 1.1rem;
}

.cart__item__title {
  grid-area: title;
}

.cart__item__pricebar {
  grid-area: price;
}

.cart__item button {
  grid-area: trash;
  justify-self: center;
  border: none;
  background-color: transparent;
}

.cart__item button:hover {
  cursor: pointer;
}

.cart__item__amount {
  margin-left: 5px;
}
.cart__item__total {
  margin-left: 8px;
  font-weight: 700;
  color: var(--very-dark-blue);
}

#btn__checkout {
  padding: 1rem 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  transition: background-color 0.2s ease;
}

#btn__checkout:hover {
  cursor: pointer;
  background-color: var(--orange-bg);
}

@media screen and (min-width: 50rem) {
  .cart {
    width: 400px;
  }

  .cart__title h3 {
    margin: 1.5rem;
  }

  .cart__content {
    margin: 1.5rem;
  }

  .cart__content h3 {
    padding: 2rem 7rem;
  }

  .cart__item {
    margin-bottom: 1.5rem;
    grid-template-columns: 50px 1fr 30px;
    column-gap: 20px;
    row-gap: 0px;
  }

  .cart__item__thumb {
    width: 50px;
    height: 50px;
  }

  .cart__item p {
    font-size: 1rem;
  }
}
