.header__container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container__left h1 {
  margin-left: 0.5rem;
  font-weight: 700;
}

.header__container__right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container__right__cart-overlay {
  position: absolute;
  padding: 0.2rem 0;
  width: 26px;
  height: 20px;
  top: -11px;
  left: 8px;
  border-radius: 10px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  z-index: 20;
}

#btn__mobile-menu,
#btn__cart,
#btn__profile {
  width: 25px;
  height: 26px;
  border: none;
  background-color: transparent;
}

#btn__mobile-menu:hover,
#btn__cart:hover,
#btn__profile:hover {
  cursor: pointer;
}

#btn__mobile-menu svg,
#btn__cart svg {
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
}

#btn__cart.cart--wiggle {
  animation: wiggle 1s ease 0s 1 normal none;
}

#btn__mobile-menu {
  z-index: 350;
}

#btn__profile {
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../../images/image-avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: 0px solid var(--orange);
  transition: outline 0.1s ease;
}

#btn__profile:hover {
  outline: 2px solid var(--orange);
}

.header__nav {
  position: absolute;
  padding: 5rem 0 0 1.4rem;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.2s ease;
  z-index: 300;
}

.header__nav.header__nav--menu-open {
  background-color: var(--white);
  transform: translateX(0%);
}

.header__nav li {
  position: relative;
  margin-bottom: 1rem;
  list-style-type: none;
}

.header__nav li.link--active::after {
  position: absolute;
  content: "";
  width: 4px;
  top: 0;
  bottom: 0;
  left: -22px;
  background-color: var(--orange);
}

.header__nav button {
  padding: 0.5rem 0;
  border: none;
  background-color: transparent;
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
}
.header__nav button:hover {
  cursor: pointer;
}

@media screen and (min-width: 30rem) {
  .header__nav {
    padding: 5rem 0 0 2.4rem;
  }

  .header__nav li.link--active::after {
    left: -38px;
  }
}

@media screen and (min-width: 40rem) {
  .header__container {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 50rem) {
  .header__container {
    border-bottom: 1px solid var(--dark-grayish-blue);
  }

  .header__container__left h1 {
    margin-left: 0rem;
  }

  .header__nav {
    position: relative;
    padding: 0;
    width: unset;
    height: unset;
    transform: translateX(0);
  }

  .header__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__nav li {
    margin-bottom: 0;
    margin-left: 2rem;
  }

  .header__nav li.link--active::after {
    width: unset;
    height: 5px;
    top: unset;
    left: 0;
    right: 0;
    bottom: -35px;
    background-color: var(--orange);
  }

  .header__nav li:hover::after {
    position: absolute;
    content: "";
    height: 5px;
    left: 0;
    right: 0;
    bottom: -35px;
    background-color: var(--orange);
  }

  .header__nav button {
    font-weight: 400;
    color: var(--dark-grayish-blue);
  }

  .header__container__right__cart-overlay {
    top: -6px;
  }

  #btn__profile {
    margin-left: 2rem;
    width: 40px;
    height: 40px;
  }
}

@keyframes wiggle {
  10% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
}
